---
import Page from "../layouts/Page.astro";
---

<Page title="404: Not Found" description="This page does not exist.">
  <div class="text-center">
    <h1 class="font-black text-6xl leading-loose">Page Not Found</h1>
    <h2 class="text-2xl">
      Whoops! This page doesn't exist. Would you like to <a href="/">go home?</a
      >
    </h2>
  </div>
</Page>
