---
import Page from "../layouts/Page.astro";
---

<Page
  title="Home"
  description="Welcome to Francis Kafieh's portfolio and blog!"
>
  <div class="text-center fade-in">
    <h1 class="font-black text-6xl min-h-full leading-loose">
      Hey, I'm Francis. &#x1f44b;
    </h1>
    <h1 class="text-outline-red-500 text-transparent text-5xl font-black">
      hello
    </h1>
    <h2 class="text-2xl">
      There isn't much here yet, but you can <a href="/blog/1"
        >check out my blog</a
      > for now.
    </h2>
    <!-- https://github.com/feathericons/feather/blob/master/LICENSE -->
    <!-- <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="animate-bounce stroke-accent"
    >
      <line x1="12" y1="5" x2="12" y2="19"></line>
      <polyline points="19 12 12 19 5 12"></polyline>
    </svg> -->
  </div>
</Page>
