---
import DefaultLayout from '../layouts/DefaultLayout.astro';
import Test from '../components/Test.svelte';
---

<DefaultLayout title="Home" description="test page!!!">
	<main>
		<Test />

	</main>
</DefaultLayout>