---
import Page from '../layouts/Page.astro';
---

<Page title="Home" description="test page!!!">
    <h1 class="font-black text-3xl">In the works! Come back later ;)</h1>
    <p><em>Here</em> is a <b>test</b></p>
</Page>