---
import Default from '../layouts/Default.astro';
import Test from '../components/Test.svelte';

const hello = 'dfsdf';
---

<Default title="Hey!" description="test page!!!">
	<main>
		<Test />
	</main>
</Default>