---
import MobileNavMenu from "./MobileNavMenu.astro";
import ThemeToggle from "./ThemeToggle.astro";
---

<div
  class="z-10 mb-10 flex flex-row items-center justify-between whitespace-nowrap"
>
  <div class="flex">
    <a class="mr-2 text-2xl font-bold reset text-accent" id="home-link" href="/"
      >Francis Kafieh</a
    >
    <ThemeToggle />
  </div>
  <div>
    <nav>
      <!-- mobile -->
      <MobileNavMenu />
      <!-- desktop -->
      <ul class="md:flex flex-row justify-between space-x-10 hidden text-2xl">
        <li><a href="/resume">resume</a></li>
        <li><a href="/blog/1">blog</a></li>
        <li><a href="/contact">contact</a></li>
      </ul>
    </nav>
  </div>
</div>
