---
import MobileNavMenu from "./MobileNavMenu.astro";
import NavbarLinksAsLi from "./NavbarLinksAsLi.astro";
import ThemeToggle from "./ThemeToggle.astro";
---

<div
  id="top"
  class="mb-10 flex flex-row items-center justify-between whitespace-nowrap"
>
  <div class="flex">
    <a class="mr-2 text-2xl font-bold reset text-accent" id="home-link" href="/"
      >Francis Kafieh</a
    >
    <ThemeToggle />
  </div>
  <div>
    <nav>
      <!-- mobile -->
      <MobileNavMenu />
      <!-- desktop -->
      <ul class="md:flex flex-row justify-between space-x-10 hidden text-2xl">
        <NavbarLinksAsLi/>
      </ul>
    </nav>
  </div>
</div>
