---
import type { MarkdownHeading } from "astro";

export interface Props {
    headings: MarkdownHeading[];
}

const { headings } = Astro.props as Props;
---

<p class="font-bold text-blue-300">OVERVIEW</p>
<ul>
    {headings
    .filter(heading => heading.depth === 2)
    .map((heading) => (
    <li class="text-blue-300">{heading.text}</li>
    ))}
</ul>