---
import Page from "../../layouts/Page.astro";
---

<Page title="Form Error">
  <div class="text-center">
    <h1 class="font-black text-6xl leading-loose">
      Error Submitting Your Form
    </h1>
    <h2 class="text-2xl">
      Please try again later. Would you like to <a href="/">go home?</a>
    </h2>
  </div>
</Page>
