---
import Page from "../../layouts/Page.astro";
---

<Page title="Signup Success">
  <div class="text-center">
    <h1 class="font-black text-6xl leading-loose">Thank You!</h1>
    <h2 class="text-2xl">
      Please check your email to confirm your subscription.
    </h2>
  </div>
</Page>
