---
import Page from "../../layouts/Page.astro";
---

<Page title="Subscription Confirmed">
  <div class="text-center">
    <h1 class="font-black text-6xl leading-loose">Welcome!</h1>
    <h2 class="text-2xl">
      Thank you for confirming your subscription. Would you like to <a href="/"
        >go home?</a
      >
    </h2>
  </div>
</Page>
