---
import Page from "../../layouts/Page.astro";
---

<Page title="Form Submitted">
  <div class="text-center">
    <h1 class="font-black text-6xl leading-loose">Your Form Was Submitted</h1>
    <h2 class="text-2xl">
      Your form was submitted successfully. Would you like to <a href="/"
        >go home?</a
      >
    </h2>
  </div>
</Page>
