---
import Overview from "../components/Overview.astro";
import Page from "./Page.astro";
import '../styles/blog.css';
const { readTime } = Astro.props.frontmatter;

const { headings } = Astro.props;
---

<Page title="dsfsdf" description="s">
    <p>{readTime}</p>
    <Overview headings={headings} />

    <head>
        <link rel="stylesheet" href="/prism-material-palenight.css">
    </head>

    <div class="prose">
        <slot />
    </div>
</Page>