---
import { SEO } from "astro-seo";
import Navbar from "../components/Navbar.astro";
import "../lib/base.css";

export interface Props {
  title: string;
  description?: string;
  tags?: string[];
}

const { title, description } = Astro.props.frontmatter || Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="dark scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="preload"
      href="/fonts/montserrat-black.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/montserrat-regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/montserrat-bold.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/montserrat-italic.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <SEO
      title={title + " | Francis Kafieh"}
      openGraph={{
        basic: {
          title: title + " | Francis Kafieh | franciskafieh.com",
          type: "website",
          image: "https://franciskafieh.com/og.png",
        },
        image: { alt: "Francis Kafieh website favicon" },
      }}
      twitter={{
        card: "summary_large_image",
        site: "@franciskafieh",
        creator: "@franciskafieh",
      }}
      description={description}
      extend={{
        meta: [
          {
            name: "theme-color",
            content: "#FFD500",
          },
          {
            name: "twitter:image",
            content: "https://franciskafieh.com/og.png",
          },
          {
            name: "twitter:title",
            content: title + " | Francis Kafieh | franciskafieh.com",
          },
          { name: "twitter:description", content: description },
        ],
      }}
    />
    <script is:inline>
      if (localStorage.getItem("light") === null) {
        localStorage.setItem(
          "light",
          window.matchMedia &&
            window.matchMedia("(prefers-color-scheme: light)").matches
        );
      }

      if (Boolean(JSON.parse(localStorage.getItem("light")))) {
        document.querySelector("html").classList.remove("dark");
      }
    </script>
    <script
      async
      defer
      data-website-id="b9e5dd9a-0df5-4227-b8bd-cba27fd1d492"
      data-do-not-track="false"
      src="https://franciskafieh.com/u.js"
      type="text/partytown"
    ></script>
  </head>

  <body class="bg-background transition-colors break-words">
    <div
      class="max-w-6xl mx-auto text-primary min-h-screen justify-start p-6 selection:bg-accent/30"
    >
      <Navbar />
      <main id="swup">
        <slot />
      </main>
    </div>
    <span class="-z-50 select-none gradient" id="blue"></span>
    <span class="-z-50 select-none gradient" id="purple"></span>
    <style>
      .gradient {
        opacity: 40%;
        position: fixed;
        filter: blur(50px);
      }

      #blue {
        width: 80vw;
        height: 50vh;
        top: -20vh;
        left: -35vw;

        background: radial-gradient(
          50% 50% at 50% 50%,
          rgba(0, 224, 225, 1) 0%,
          rgba(0, 0, 0, 0) 100%
        );
      }

      #purple {
        width: 75vw;
        height: 50vh;
        top: -10vh;
        left: -5vw;

        background: radial-gradient(
          50% 50% at 50% 50%,
          rgba(112, 75, 224, 100) 0%,
          rgba(0, 0, 0, 0) 100%
        );
      }

      @media (max-width: 1024px) {
        #blue {
          width: 90vw;
        }

        #purple {
          width: 100vw;
        }
      }
    </style>
    <script>
      // @ts-nocheck
      import Swup from "swup";
      import SwupA11yPlugin from "@swup/a11y-plugin";
      import SwupSlideTheme from "@swup/slide-theme";
      import SwupHeadPlugin from "@swup/head-plugin";

      const swup = new Swup({
        plugins: [
          new SwupA11yPlugin(),
          new SwupSlideTheme(),
          new SwupHeadPlugin(),
        ],
      });

      const observer = new IntersectionObserver(
        (entries) => {
          entries.forEach((entry) => {
            const el = document.querySelector(
              `#overview > ul > li > a[href="#${entry.target.children[0].id}"]`
            );
            if (entry.isIntersecting) {
              if (el) {
                el.classList.add("!text-accent");
              }
            } else {
              if (el) {
                el.classList.remove("!text-accent");
              }
            }
          });
        },
        { rootMargin: "-200px 0% -66% 0%" }
      );

      const sections = document.querySelectorAll("article section");

      function init() {
        if (document.querySelector("#overview")) {
          const sections = document.querySelectorAll("article section");
          sections.forEach((section) => observer.observe(section));
        }
      }

      function unload() {
        sections.forEach((section) => observer.unobserve(section));
      }

      init();

      swup.on("contentReplaced", init);
      swup.on("willReplaceContent", unload);

      const body = document.querySelector("body")!;
      body.addEventListener("dragstart", (e) => {
        e.preventDefault();
      });

      body.addEventListener("drop", (e) => {
        e.preventDefault();
      });
    </script>
  </body>
</html>
