---
import { SEO } from "astro-seo";
import Footer from "../components/Footer.astro";
import '../styles/base.css';

export interface Props {
	title: string;
	description: string;
	longTitle?: string;
	date?: string;
	converImage?: string;
	tags?: string[];
}

const { title, description, longTitle, date } = Astro.props.frontmatter as Props || Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<meta name="generator" content={Astro.generator} />
	<link rel="preload" href="/fonts/montserrat-black.woff2" as="font" type="font/woff2" crossorigin>
	<link rel="preload" href="/fonts/montserrat-regular.woff2" as="font" type="font/woff2" crossorigin>
	<link rel="preload" href="/fonts/montserrat-bold.woff2" as="font" type="font/woff2" crossorigin>
	<link rel="preload" href="/fonts/montserrat-italic.woff2" as="font" type="font/woff2" crossorigin>
	<SEO title={title + " | Francis Kafieh" } openGraph={{ basic: { title: longTitle || title, type: 'website' ,
		image: '/favicon.svg' }, image: { alt: 'Francis Kafieh website favicon' } }} description={description} />
	<script async defer data-website-id="b9e5dd9a-0df5-4227-b8bd-cba27fd1d492" data-do-not-track="false"
		src="https://www.franciskafieh.com/u.js" type="text/partytown"></script>
</head>

<body>
	<slot />
	<Footer />
</body>

</html>